
extends ../layout

block style
  link(href="/style/login.css" rel="stylesheet")

block content

  #bg
    img(src="/images/login-background.jpg")

  #form-div
    #title= "Log in"
    form(action="/users/login" method="POST")
      .form-element
        p  Username: 
        if fill
          input#username(type='text' name='username' autocomplete="off" value=`${fill}`)
        else
          input#username(type='text' name='username' autocomplete="off")
      .form-element
        p  Password: 
        input#password(type='password' name='password' autocomplete="off")  
      if error
        p.error= error
      input#loginButton(type='submit' value='Log in')
    .signupQ
      p= "Not a user?"
      a#signup(href='/users/signup') Sign Up
    .passwordRecovery
      a#passwordReset(href='/users/password-recovery') Forgotten your password?
