extends ../layout

block style
  link(href="/style/login.css" rel="stylesheet")

block content

  #bg
    img(src="/images/login-background.jpg")

  #form-div
    #title= "Reset your password"
    form(action="/users/reset-password" method="POST")
      .form-element
        p  Email: 
        input(type='text' name='email')
      input#resetPassword(type='submit' value="Reset Password")
      if error
        p.error= error