extends ../layout

block content
  if fill
    form(action="/users/signup" method="POST")
      .form-element
        p  Username: 
        input(type='text' name='username' value=`${fill.username}`)
      .form-element
        p  Email: 
        input(type='text' name='email' value=`${fill.email}`)
      .form-element
        p  Password: 
        input(name='password')
      input(type='submit')
      a#signup(href='/singup') Sign Up
  else
    form(action="/users/signup" method="POST")
      .form-element
        p  Username: 
        input(type='text' name='username')
      .form-element
        p  Email: 
        input(type='text' name='email')
      .form-element
        p  Password: 
        input(name='password')
      input(type='submit')
      a#signup(href='/singup') Sign Up

  h1= error