/****AUTOCOMPLETE DROPDOWN****/

input {
    font-family: 'Oxanium', cursive;
}  

#search-term {
    width: 220px;
}

#search-dropdown {
  display: none;
  position: absolute;
  margin-left: 10px;
  padding-top: 5px;
  width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
}

.autocomplete-tag {
    position: relative;
    z-index: 100;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: black;
    text-decoration: none;
    height: 50px;
    width: 170px;
    text-overflow: ellipsis;
    background-color: white;
}

.autocomplete-tag img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid black;
    object-fit: cover;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0;
}

.autocomplete-tag p {
    margin-left: 10px;
}

.unopened {
    background-color: #a5eff1;
    border: 1px solid black;
    border-radius: 10px;
}

#messages {
    position: fixed;
    max-height: 500px;
    max-width: 250px;
    margin-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#search-users:hover + #search-dropdown {
  display: flex;
  flex-direction: column;
}

/******/

.flexDiv {
    display: flex;
    flex-direction: row;
}

.message {
    width: 95%;
    margin-left: 7px;
    text-decoration: none;
    padding: 4px;
}

.messageInfo {
    width: 140px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10px;
    color: black;
}

.pp {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
}

.messageInfo h1 {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.messageInfo h3 {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.messageInfo p {
    margin: 0;
    padding: 0;
    font-size: 10px;
}