

#picture-div {
    height: 450px;
    width: 600px;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 1);
    margin-top: 100px;
    text-align: center;
}

#picture {
    height: 250px;
    width: 250px;
    border: 2px solid black;
    object-fit: cover;
    border-radius: 50%;
    transition: 0.2s;
}

#fileSelector {
    display: none;
}

#photo-upload {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.4em;
    font-weight: 500;
}

#submit {
    font-size: 1.3em;
    font-family: 'Oxanium', cursive;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: white;
}

.error {
    color: red;
    font-weight: bold;
}