

#video-container {
    width: 80%;
    margin-top: -50px;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#welcome {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 10%;
}

#videoFiltering {
    margin-top: 60px;
    margin-bottom: -20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#videoFiltering p {
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

#filterOptions, #filterType {
    font-family: 'Oxanium', cursive;
    background-color: rgb(204, 235, 235);
    border: 1px solid grey;
    padding: none;
    margin: none;
    font-weight: bold;
    font-size: 15px;
    margin-top: 18px;
    height: 23px;
}

/****Subscriber stuff****/

.userPhoto {
    height: 80px;
    width: 80px;
    margin-left: 85px;
    margin-top: 45px;
    border: 2px solid black;
    object-fit: cover;
    border-radius: 50%;
    transition: 0.3s;
}

.userPhoto:hover {
    height: 77px;
    width: 77px;
    border: 3px solid black;
}

.username {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 2em;
}

.subcount {
    font-weight: bold;
    font-size: 1.5em;
}

.userHeader {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    margin-top: 30px;
}

.userBanner {
    position: relative;
    top: -135px;
    z-index: -10;
    width: 250px;
    height: 100px;
    object-fit: cover;
}

.subdiv {
    text-align: center;
    margin-top: -100px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
