body {
    margin-top: 70px;
}

.videoContainer {
    width: 80%;
    margin-left: 10%;
    margin-top: -40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filterTitle {
    margin-top: 0px;
    margin-left: 10%;
}

#novidMessage {
    margin-top: 80px;
    margin-left: 40px;
}
