

#upload-form {
    width: 60%;
    height: 80%;
    margin-top: 20px;
    margin-left: 20%;
    text-align: center;
}

.form-element input, .form-element textarea{
    width: 100%;
    font-size: 20px;
}

#title {
    height: 40px;
}

#description {
    height: 150px;
}

#video-upload input {
    height: 50px;
    font-size: 1.5em;
}

.error {
    margin-left: 10px;
    color: red;
    font-weight: bolder;
}

.perror {
    display: flex;
    flex-direction: row;
}

#post-video {
    display: none;
}

#pageTitle {
    margin-top: 70px;
    margin-bottom: -15px;
    text-align: center;
}

#post-video, #start-upload {
    width: 150px;
    margin: auto;
    font-family: 'Oxanium', cursive;
    text-decoration: none;
    color: black;
    font-size: 0.9em;
    padding: 0;
    background-color: rgb(204, 235, 235);
    border-radius: 5px;
    border: 3px solid black;
    margin-top: 10px;
    height: 30px;
    transition: 0.4s;
}

#post-video:hover, #start-upload:hover {
    font-size: 0.95em;
}

