

body {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#sidebar {
    height: 90vh;
    width: 200px;
    text-align: center;
    border-right: 3px solid black;
    overflow-y: auto;
}


.video-preview {
    text-align: center;
    border-radius: 10px;
    font-size: 0.5em;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.video-preview video {
    width: 170px;
    height: 96.2px;
    border: 2px solid black;
    background-color: black;
}

.video-preview a {
    margin-left: 5px;
    text-decoration: none;
    color: black;
}

.formatDiv h3 {
    font-size: 10px;
    margin-top: -12px;
    text-align: left;
}

.formatDiv {
    margin-left: 10px;
}

.userInfo {
    display: flex;
    flex-direction: row;
}

.formatDiv h2 {
    margin-top: -10px;
    font-weight: bold;
    font-size: 12px;
    text-align: left;
}


.videoTitle {
    font-size: 15px;
    width: 170px;
    text-align: left;
    display: block;
    overflow: hidden;
}

.svidinfo {
    margin-top: -20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.2em;
}

.uploaderPhoto {
    margin-top: -10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 0.5px solid black;
    object-fit: cover;
}

.flexDiv {
    display: flex;
    flex-direction: row;
}

.percentage {
    margin-left: 20px;
}



/*******/

#welcome {
    margin-left: 15%;
}

#edit-form {
    width: 70%;
    height: 80%;
    margin-top: 20px;
    margin-left: 15%;
    text-align: center;
}

.form-element input, .form-element textarea{
    width: 100%;
    font-size: 20px;
}

#title {
    height: 40px;
}

#description {
    height: 150px;
    resize: none;
}

.error {
    margin-left: 10px;
    color: red;
    font-weight: bolder;
}

.perror {
    display: flex;
    flex-direction: row;
}

#pageTitle {
    text-align: center;
}

#post-video {
    width: 150px;
    margin: auto;
}

#updateInfoButton {
    width: 60%;
    height: 30px;
    background-color: #5CB85C;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 3px;
    border: 1px solid black;
}

#deleteVideo {
    width: 200px;
    height: 30px;
    background-color: #D9534F;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 3px;
    border: 1px solid black;
}

#deleteButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#yesDelete {
    width: 200px;
    height: 30px;
    background-color: #5CB85C;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 3px;
    border: 1px solid black;
}

#noDelete {
    margin: 20px;
    width: 200px;
    height: 30px;
    background-color: #D9534F;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 3px;
    border: 1px solid black;
}

#deleteWelcome {
    text-align: center;
}

#footerButtons {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.deleteVideoTitle {
    text-align: center;
}

#mainVideoPreview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#mainVideoPreview video {
    width: 300px;
    margin: auto;
}

#sidebarH1 {
    font-size: 20px;
}

@media only screen and (max-width: 600px) {

    #edit-form {
        width: 200px;
    }

    #welcome {
        font-size: 20px;
        width: 200px;
    }

    #sidebar {
        width: 125px;
        overflow-x: hidden;
    }

    #footerButtons {
        margin: 0px;
    }

    #updateInfoButton, #deleteVideoButton {
        width: 150px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #sidebarH1 {
        font-size: 20px;
    }

    video {
        width: 100px !important;
        height: 60px !important;
    }

}