
#body {
    font-family: 'Oxanium', cursive;
    padding: 0;
    margin: 0;
}

#other-content {
    margin-top: 40px;
    position: fixed;
    right: 400px;
    left: 0;
    text-align: center;
}

#video {
    margin-top: 50px;
    width: 800px;
    height: auto;
    max-height: 444px;
    min-height: 444px;
    border: 5px solid black;
    background-color: black;
}

#videocontent {
    display: inline;
    width: 800px;
    font-size: 150%;
}

#videoinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#subinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Oxanium', cursive;
}

#subscribeButton {
    text-decoration: none;
    color: white;
    font-size: 100%;
    margin: 0;
    padding: 0;
    background-color: red;
    border-radius: 5px;
    border: 3px solid black;
    margin-top: 20px;
    height: 40px;
}

#userName {
    text-decoration: none;
    color: black;
    line-height: 80px;
}

#descButton {
    color: black;
}

#voting {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

#voting button {
    margin-left: 10px;
    margin-top: 20px;
    height: 50%;
}

#voting p {
    margin-left: 10px;
}

#videoinfo {
    display: flex;
    flex-direction: row;
}

#description-info {
    visibility: hidden;
    display: none;
    font-size: 80%;
}

.video-preview {
    margin-bottom: 30px;
    text-align: center;
    border-radius: 10px;
}

.video-preview video {
    margin-top: 10px;
    width: 150px;
    height: 85px;
    max-height: 38%;
    border: 2px solid black;
    background-color: black;
}

#sidebar {
    display: block;
    font-size: 0.5em;
    float: right;
    width: 360px;
    margin-right: 20px;
    right: 0;
    height: 100%;
    padding-left: 10px;
    margin-top: 80px;
    margin-bottom: 10px;
    border-left: 4px solid black;
}

.video-preview a {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

#svidinfo {
    width: 170px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    line-height: 0%;
}

#svidinfo h1 {
    font-size: 2em;
    line-height: 100%;
}

#sidebar a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 1220px) {
    #sidebar {
        display: none;
    }

    #other-content {
        position: static;
        right: 0;
        left: 0;
        text-align: center;
    }

    #video {
        margin-top: 70px;
        width: 732px;
        height: auto;
        max-height: 407px;
        min-height: 407px;
        border: 5px solid black;
        background-color: black;
    }
    
    #videocontent {
        display: inline;
        width: 60%;
        font-size: 150%;
    }
}

@media screen and (min-width: 1350px) {


    #video {
        margin-top: 40px;
        width: 900px;
        height: auto;
        max-height: 508px;
        min-height: 508px;
        background-color: black;
    }
}

@media screen and (min-width: 1500px) {


    #video {
        margin-top: 40px;
        width: 1050px;
        height: auto;
        max-height: 583px;
        min-height: 583px;
        border: 5px solid black;
        background-color: black;
    }
}
