extends ../layout

block content
  if videos
    h1#welcome= `Recommended for today:`
    #video-container
      each video in videos  
        include ../templates/video-template

  else
    h1#welcome= "No videos uploaded yet"

block style
  link(href='/style/videos.css' rel='stylesheet')
  link(href='/style/templates/video-template.css' rel='stylesheet')
  link(href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet")

block script
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  script(src='/js/videos.js')