#menu-bar
  a#home-image(href='/')
    img(src='/images/main-menu/metube.png') 

  //#icons
    a#home(href='/video/home')
      img(src='/images/main-menu/home.svg')
    a#hot(href='/video/hot')
      img(src='/images/main-menu/hot.svg')
    a#subs(href='/video/subscriptions')
      img(src='/images/main-menu/subs.svg')

  form#search-bar(action="/search" method="POST")
    input#search-query(type='text' name='title')
    input#submit(type='submit' value='Search')

  if username
    #dd
      button#dropdown-button Account
      #dropdown-content
        a(href='/upload') Upload
        a#username(href=`/account`)= `Account`
        a(href='/users/logout') Log Out
  else
    a#login(href='/users/login') Login/Register