#menu-bar
  a#home-image(href='/')
    img(src='/images/main-menu/vibe.svg') 

  #icons
    a#hot(href='/video/hot')
      img(src='/images/main-menu/hot.svg')
    a#subs(href='/video/subscriptions')
      img(src='/images/main-menu/subs.svg')
    a(href='/messages/home')= "CLICK ME CLICK ME"

  form#search-bar(action="/search" method="POST")
    if searchTerm
      input#search-query(type='text' name='searchTerm' value=`${searchTerm}`)
    else
      input#search-query(type='text' name='searchTerm')
    input#submit(type='submit' value='Search')

  if username
    #dd
      a#dropdown-button(href='/account') Account
      #dropdown-content
        a(href='/upload') Upload
        a#username(href=`/account`)= `Account`
        a(href='/users/logout') Log Out
  else
    a#login(href='/users/login') Login/Register