ul#menu-bar
  li
    a(href='/')
      img(src='/images/metube.png' href="/") 
  li
    a(href='/video')  Video
  if username
    li
      a(href='/video/upload') Upload
    li 
      a#username(href='/account')= `${username}`
    li
      a(href='/users/logout') Log Out
  else
    li
      a(href='/users/login') Login/Register