a(href='/')
      img(src='/images/metube.png' href=`/`) 
ul#menu-bar
  li
    a(href='/video')  Video
  if username
    li
      a(href='/upload') Upload
    li 
      a#username(href=`/users/${username}`)= `Account`
    li
      a(href='/users/logout') Log Out
  else
    li
      a(href='/users/login') Login/Register