extends layout

block content
  h1 VIDEO
  form(action=`/video/${video.id}/add-comment` method="POST")
    .form-element
      p  Comment: 
      textarea(name='comment')
    input(type='submit')

  each comment in comments  
    comment
      h1= comment.user
      p= comment.comment