extends ../layout 

block style
  link(href="/style/upload.css" rel="stylesheet")
  link(href="/style/progress-bar.css" rel="stylesheet")
  link(href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css" rel="stylesheet")
  link(href="/style/jquery.tagit.css" rel="stylesheet")

block content

  h1#pageTitle= "Upload a video!"

  #progress-bar
    include progress-bar

  #upload-form
    include upload-form

  
  button#post-video(onclick="parseFormData()")= "Post Video"

block script 
  script(src="/js/uploadFile.js")
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js")
  script(src="/js/tag-it.js")
  script(src="/js/tagit.js")