


form(enctype="multipart/form-data" action="/upload" method="POST")
    .form-element
      p= 'Video Title:'
      input(type='text' name='title')
    .form-element
      p= 'Description: '
      textarea(name='description')
    .form-element
      p= 'Tags: '
      textarea(name='tags')
    .form-element
      p= 'Video Path: '
      input(type='file' name='fileName')
    input(type='submit' value='Upload Video')