


form(enctype="multipart/form-data" action="/upload" method="POST")
    .form-element
      p= 'Video Title:'
      input#title(type='text' name='title')
    .form-element
      p= 'Description: '
      textarea#description(name='description')
    .form-element
      p= 'Tags: '
      textarea#tags(name='tags')
    #video-upload
      p= 'Video Path: '
      input(type='file' name='fileName')
    input#submit(type='submit' value='Upload Video')