

extends ../layout 

block style
  link(href="/style/banner.css" rel="stylesheet")

block content
        

  #picture-div
    h1= "Update Banner"
    img#picture(src=`${bannerURL}`)

    form(enctype="multipart/form-data" action="/account/upload-banner" method="POST")
      #photo-upload
        label(for="fileSelector" id="customLabel") Choose Photo to Upload
        input(id="fileSelector" type='file' name='fileName')
      input#submit(type='submit' value='Upload Photo')
      if error
        p.error= error


block script
  script(src='/js/account.js')

