doctype html
head
  meta(charset='utf-8')
  title Vibe Videos
  link(href='/style/menu.css' rel='stylesheet')
  link(href="https://fonts.googleapis.com/css?family=Oxanium|Roboto+Slab&display=swap" rel="stylesheet")
  link(href="/style/templates/userprofile.css" rel="stylesheet")
  link(href="/style/templates/userheader.css" rel="stylesheet")
  block style
 


body
  include ../menubar


  #sidebar
    include account-sidebar

  #content
    include account-header
    block content


  script(src="/js/universal.js")
  block script