doctype html
head
  meta(charset='utf-8')
  title MeTube
  link(href='/style/menu.css' rel='stylesheet')
  link(href="https://fonts.googleapis.com/css?family=Oxanium|Roboto+Slab&display=swap" rel="stylesheet")
  link(href="/style/account.css" rel="stylesheet")
  block style


body
  include ../menubar


#sidebar
  include account-sidebar

#content
  block content

  
block script