

extends ../layout 

block style
  link(href="/style/profile-picture.css" rel="stylesheet")

block content
        

  #picture-div
    h1= "Update Profile Picture"
    img#picture(src=`${imageURL}`)

    form(enctype="multipart/form-data" action="/account/upload-pic" method="POST")
      #photo-upload
        label(for="fileSelector" id="customLabel") Choose Photo to Upload
        input(id="fileSelector" type='file' name='fileName')
      input#changePP(type='submit' value='Upload Photo')
      if error
        p.error= error


block script
  script(src='/js/account.js')

