.videoDD:after {
    content: '\2807';
    font-size: 30px;
}

.videoDD:hover {
    cursor: pointer;
}

.videoDD {
    border: none;
    padding: 0px;
    margin: 0px;
    background-color: white;
}

.videoDropDown {
    position: relative;
    top: -60px;
    left: 230px;
    display: none;
    flex-direction: column;
    background-color: white;
    z-index: 10;
    width: 130px;
    border: 1px solid black;
    border-top: none;
}

.videoDropDown a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    width: 120px;
    padding: 5px;
    border-top: 1px solid black;
    transition: 0.4s;
}

.videoDropDown a:hover {
    font-size: 13px;
    font-weight: bold;
}

.videoTitle {
    width: 250px !important;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}