body {
    margin-top: 51px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#sidebar {
    position: fixed;
    height: 95vh;
    width: 200px;
    text-align: center;
    border-right: 3px solid black;
}

#sidebarAnimate {
    z-index: 10;
    position: absolute;
    top: 50px;
    border: none;
    padding: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0);
}

#exitMenu {
    position: relative;
    left: 55px;
    top: -10px;
    border: none;
    padding: none;
    margin: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 40px;
    transition: 0.3s;
}

#exitMenu:hover {
    font-size: 46px;
    top: -13px
}

#hamburger:hover {
    cursor: pointer;
    height: 56px;
    margin-left: 8px;
    margin-top: 8px;
}

#hamburger {
    display: none;
    margin-left: 10px;
    margin-top: 10px;
    height: 50px;
    width: auto;
    transition: 0.3s
}

#sidebar li {
    list-style: none;
    height: 60px;
}

#sidebar a {
    margin-left: -50px;
    color: black;
    text-decoration: none;
    font-size: 1.5em;
}

#sidebar a:hover {
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.6em;
}
#content {
    margin-left: 200px;
}

#userHeader {
    width: 400px;
    margin: auto;
}

#title {
    margin-left: 20px;
}

#video-container {
    margin-top: -65px;
}