

#banner {
    overflow: hidden;
    z-index: -1;
    position: absolute;
    height: 250px;
}

#banner img {
    min-height: 250px;
    object-fit: cover;
}

#subscribeButton {
    font-family: 'Oxanium', cursive;
    width: 135px;
    text-decoration: none;
    color: black;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    background-color: rgb(204, 235, 235);
    border-radius: 5px;
    border: 3px solid black;
    height: 30px;
    transition: 0.4s;
    margin-top: 10px;
    margin-left: 25px;
}

#subscribeButton:hover {
    font-size: 0.95em;
}

#uploaderPhoto {
    height: 125px;
    width: 125px;
    border: 2px solid black;
    object-fit: cover;
    border-radius: 50%;
    transition: 0.3s;
}

#uploaderPhoto:hover {
    height: 121px;
    width: 121px;
    border: 4px solid black;
}

#userName {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
}

#subcount {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
    margin-top: 10px;
}

#userHeader {
    padding: 2px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

#subdiv {
    text-align: center;
    margin-top: 15px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

#accountStatus {
    display: flex;
    flex-direction: column;
}

#accountStatus a {
    width: 130px;
    margin: auto;
    margin-top: -10px;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(204, 235, 235);
}

#statusDiv {
    margin-top: -10px;
}

#statusDiv {
    display: flex;
    flex-direction: row;
}

#statusDiv p {
    margin-right: 5px;
}

#accountRedirect {
    position: absolute;
    top: 75px;
    right: 20px;
    color: black;
    text-decoration: none;
    font-family: 'Oxanium', cursive;
    padding: 2px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
}