
.comment, .reply {
    text-align: left;
    margin-left: 50px;
    margin-bottom: 20px;
}

.reply {
    margin-left: 100px;
}

.commentID {
    display: none;
}

/* HEADER */
.comment-header {
    display: flex;
    flex-direction: row;
    height: 30px;
    margin-bottom: 40px;
}

.comment-header p {
    margin-left: 20px;
    line-height: 400%;
}

/* BODY */

.commentBody {
    width: 600px;
    word-wrap: break-word
}

/* FOOTER */
.comment-footer {
    display: flex;
    flex-direction: row;
    height: 30px;
    margin-bottom: 20px;
}

.comment-footer div {
    margin-right: 10px;
    line-height: 50%;
}

/* REPLY FORM */
.reply-form {
    display: none;
}

/* COMMENT FORM */

#comment-form {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 50px;
}

#comment-form textarea {
    margin-left: 20px;
    width: 350px;
    height: 35px;
    font-size: 1em;
    margin-bottom: 30px;
}

#comment-form button {
    height: 40px;
}


