
#body {
    font-family: 'Oxanium', cursive;
    padding: 0;
    margin: 0;
}

/*  
    ALL BUT SIDEBAR
*/
#other-content {
    margin-top: -20px;
    right: 400px;
    left: 0;
    text-align: center;
}

#video {
    margin-top: 40px;
    width: 800px;
    height: auto;
    max-height: 444px;
    min-height: 444px;
    border: 5px solid black;
    background-color: black;
}


#userName {
    text-decoration: none;
    color: black;
    line-height: 80px;
}

.video-preview {
    margin-bottom: 30px;
    text-align: center;
    border-radius: 10px;
}

.video-preview video {
    margin-top: 10px;
    width: 150px;
    height: 85px;
    max-height: 38%;
    border: 2px solid black;
    background-color: black;
}

#sidebar {
    display: block;
    font-size: 0.5em;
    float: right;
    width: 360px;
    margin-right: 20px;
    right: 0;
    padding-left: 10px;
    margin-top: 40px;
    margin-bottom: 10px;
    border-left: 4px solid black;
}

.video-preview a {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 2px;
    transition: 0.3s;
}

.video-preview a:hover {
    background-color: rgba(41, 128, 150, 0.4);
    border: 1px solid black;
    box-shadow:0px 2px 0px 2px rgba(31, 34, 80, 0.4);
    padding-right: 0;
    padding-top: 0;
}

#sidebar a {
    text-decoration: none;
    color: black;
}

#non-video {
    margin-right: 440px;
}

@media screen and (max-width: 1220px) {
    #sidebar {
        display: none;
    }

    #other-content {
        position: static;
        right: 0;
        left: 0;
        text-align: center;
    }

    #video {
        margin-top: 40px;
        border: 5px solid black;
        background-color: black;
    }
    
    #videocontent {
        display: inline;
        width: 60%;
        text-align: center;
        font-size: 150%;
    }

    #videoinfo {
        width: 700px;
        margin: auto;
    }

    #non-video {
        margin-right: 0;
    }
}

