doctype html
head
  meta(charset='utf-8')
  title Vibe Videos
  link(href='/style/menu.css' rel='stylesheet')
  link(href="https://fonts.googleapis.com/css?family=Oxanium|Roboto+Slab&display=swap" rel="stylesheet")
  block style
 


body
  include ../menubar


  #sidebar
    include videomanager-sidebar

  #content
    block content

  
  block script
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js") 
    script(src="/js/universal.js")
    script(src='/js/userProfile.js')