


 

#messageHeader
  p= "Party chat"
  if host
    a(href=`/watch-party/session/${sessionID}/end-session`)= "End Watch Party"

#messages

#messageBox
  input(type='text' name='searchTerm' autocomplete="off" onKeyPress="return checkAddMessage(event)")
  button(onclick="sendMessage(this)")= "Send"




