
extends layout

block style
  link(href="/style/watch-party.css" rel="stylesheet")

block content

  button#sidebarAnimate(onclick="toggleSidebar()")
    img#hamburger(src='/images/hamburger.svg')

  #content
    video#partyVideo(src=`/videos/${video.videoURL}` controls)


  #sidebar
    include sidebar

block script
  script(src="/js/watch-party.js")