doctype html
head
  meta(charset='utf-8')
  title MeTube
  link(href='/style/menu.css' rel='stylesheet')
  link(href="https://fonts.googleapis.com/css?family=Oxanium|Roboto+Slab&display=swap" rel="stylesheet")
  link(href="/style/userProfile/userprofile.css" rel="stylesheet")
  link(href="/style/userProfile/userheader.css" rel="stylesheet")
  block style
 


body
  include ../menubar


#sidebar
  include user-sidebar

#content
  include user-header
  block content

  
block script
  script(src='/js/userProfile.js')