extends layout 

block style
  link(href="/style/userProfile/userprofilevideos.css" rel="stylesheet")
  link(href="/style/templates/video-template.css" rel="stylesheet")

block content
  h1#title= message

  #video-container
    if videos
      each video in videos
        .video-preview
          include ../templates/video-template

    else
      h1= emptyMessage

